# Root directory 
PROJECT_ROOT=SET_YOUR_ROOT_PATH

# Sample generation 
SISSI=SET_YOUR_SISSI_PATH
NEIGHBOURHOOD=SET_YOUR_NEIGHBOURHOOD_PATH
TREE=SET_YOUR_TREE_PATH
FREQUENCIES_SINGLE=0.422360 0.105590 0.236025 0.236025
FREQUENCIES_DOUBLE=0.000423 0.004228 0.012685 0.169133 0.004228 0.000423 0.262156 0.000423 0.012685 0.262156 0.000423 0.042283 0.169133 0.000423 0.042283 0.016915
SAMPLESCLUSTAL=$PROJECT_ROOT/data/sissi/SAMPLESCLUSTAL
SAMPLESFASTA=$PROJECT_ROOT/data/sissi/SAMPLESFASTA
ITER=CHANGE_THIS_HOW_MUCH_FILES_YOU_WANT
NUMCORES=SET_YOUR_CORES_DO_YOU_WANT_TO_USE
EXCELNAME=sissi

# Shuffling
ALNSHUFFLE=SET_YOUR_ALNSHUFFLE_PATH
MULTIPERM=SET_YOUR_MULTIPERM_PATH

# Simulation and Structure prediction
SISSIZ=SET_YOUR_SISSIZ_PATH
SISSIZPREOUTPUT=$PROJECT_ROOT/results/sissi/sissiz/prediction
SISSIZLOG=$PROJECT_ROOT/results/sissi/
SISSIZEXCEL=$PROJECT_ROOT/results/sissi/sissiz/excel
SISSIZSAVEPATH=$PROJECT_ROOT/plots/sissi/sissiz

# Structure prediction
RNAZ=SET_YOUR_RNAZ_PATH
RNAZPREOUTPUT=$PROJECT_ROOT/results/sissi/rnaz/prediction
RNAZLOG=$PROJECT_ROOT/results/sissi/
RNAZEXCEL=$PROJECT_ROOT/results/sissi/rnaz/excel
RNAZSAVEPATH=$PROJECT_ROOT/plots/sissi/rnaz

PETFOLD=SET_YOUR_PETFOLD_PATH
PETFOLDPREOUTPUT=$PROJECT_ROOT/results/sissi/petfold/prediction
PETFOLDLOG=$PROJECT_ROOT/results/sissi/
PETFOLDEXCEL=$PROJECT_ROOT/results/sissi/petfold/excel
PETFOLDSAVEPATH=$PROJECT_ROOT/plots/sissi/petfold
