# Root directory 
PROJECT_ROOT=SET_YOUR_ROOT_PATH

# Native Sequences
SAMPLESCLUSTAL=$PROJECT_ROOT/data/native/SAMPLESCLUSTAL
SAMPLESFASTA=$PROJECT_ROOT/data/native/SAMPLESFASTA
ITER=CHANGE_THIS_HOW_MUCH_FILES_YOU_HAVE
NUMCORES=SET_YOUR_CORES_DO_YOU_WANT_TO_USE
EXCELNAME=native

# Shuffling
ALNSHUFFLE=SET_YOUR_ALNSHUFFLE_PATH
MULTIPERM=SET_YOUR_MULTIPERM_PATH

# Simulation and Structure prediction
SISSIZ=SET_YOUR_SISSIZ_PATH
SISSIZPREOUTPUT=$PROJECT_ROOT/results/native/sissiz/prediction
SISSIZLOG=$PROJECT_ROOT/results/native/
SISSIZEXCEL=$PROJECT_ROOT/results/native/sissiz/excel
SISSIZSAVEPATH=$PROJECT_ROOT/plots/native/sissiz

# Structure prediction
RNAZ=SET_YOUR_RNAZ_PATH
RNAZPREOUTPUT=$PROJECT_ROOT/results/native/rnaz/prediction
RNAZLOG=$PROJECT_ROOT/results/native/
RNAZEXCEL=$PROJECT_ROOT/results/native/rnaz/excel
RNAZSAVEPATH=$PROJECT_ROOT/plots/native/rnaz

PETFOLD=SET_YOUR_PETFOLD_PATH
PETFOLDPREOUTPUT=$PROJECT_ROOT/results/native/petfold/prediction
PETFOLDLOG=$PROJECT_ROOT/results/native/
PETFOLDEXCEL=$PROJECT_ROOT/results/native/petfold/excel
PETFOLDSAVEPATH=$PROJECT_ROOT/plots/native/petfold